body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin: 10px 8px 19px 18px;
  padding: 7px 3px 10px 39px;
  float: none;
  border: 1px solid black;
  background-color: #8c0f0f;
  background-image: -webkit-radial-gradient(circle at 74% 31%, black, white), url(../images/example-bg.png);
  background-image: -o-radial-gradient(circle at 74% 31%, black, white), url(../images/example-bg.png);
  background-image: radial-gradient(circle at 74% 31%, black, white), url(../images/example-bg.png);
  background-size: auto, 125px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px 29px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding-bottom: 6px;
  padding-left: 28px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url("http:/hw-cdn-prod-assets.webflow.com/placeholder/example-bg@2x.png");
    background-size: auto, 125px;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url("http:/hw-cdn-prod-assets.webflow.com/placeholder/example-bg@2x.png");
    background-size: auto, 125px;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url("http:/hw-cdn-prod-assets.webflow.com/placeholder/example-bg@2x.png");
    background-size: auto, 125px;
  }
}